* {
  font-family: 'Ropa Sans', sans-serif; 
}
body {
  background-image: linear-gradient(to right, #df8cf8ef, #f4989d, white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-tabs {
  font-weight: bold;
  font-size: 30px;
  color: #df8cf8ef;
  text-shadow: 2px 2px 4px blue;
}

div {
  color: #ffe761dc;
  text-shadow: 2px 2px 4px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
